//
   Created by Phillipet on 1/5/2018.
extends layout
block css
    link(rel='stylesheet',href='../stylesheets/site.css')
block js
block content
    #divGridUser
    #scriptDivGridUser
    input#txtUserType(type="hidden" value="#{userType}")
    input#txtUserName(type="hidden" value="#{username}")
    script(src='views/user_deploy_statistic.js')