//
   Created by Phillipet on 1/5/2018.
extends layout
block css
    link(rel='stylesheet',href='../stylesheets/site.css')
block js
block content
    #divGridUser
    #scriptDivGridUser
    script(src='views/user_find_statistic.js')
