//
   Created by Phillipet on 11/15/2015.
extends layout
block css
    link(rel='stylesheet',href='../stylesheets/site.css')
block js
block content
    #divGridUser
    #scriptDivGridUser
    script(src='views/user_manage.js')
